{% include 'header.html' %}
<main class="container">
    <!-- Preview -->
    <section id="preview">
        <h2>Preview</h2>
        <p>
            Sed ultricies dolor non ante vulputate hendrerit. Vivamus sit amet suscipit sapien. Nulla
            iaculis eros a elit pharetra egestas.
        </p>
        <form>
            <div class="grid">
                <input type="text" name="firstname" placeholder="First name" aria-label="First name" required />
                <input type="email" name="email" placeholder="Email address" aria-label="Email address"
                    autocomplete="email" required />
                <button type="submit">Subscribe</button>
            </div>
            <fieldset>
                <label for="terms">
                    <input type="checkbox" role="switch" id="terms" name="terms" />
                </label>
            </fieldset>
        </form>
    </section>
    <section>
        <h1 class="text-blue-600">Tady se budou zobrazovat věci!</h1>
        <button role="button" hx-get="/hello" hx-target="#pozdrav" hx-trigger="click">Pozdrav mě</button>
    </section>
    <p id="pozdrav"></p>
    <section>
        <div id="main" style="width: 600px;height:400px;"></div>
    </section>
</main>