<header class="container">
    <hgroup>
        <h1>Hackithon 2024</h1>
        <p>Takto může vypadat vaše aplikace</p>
    </hgroup>
    <nav>
        <ul>
            <li>
                <details class="dropdown">
                    <summary role="button" class="secondary">Theme</summary>
                    <ul>
                        <li><a href="#" data-theme-switcher="auto">Auto</a></li>
                        <li><a href="#" data-theme-switcher="light">Light</a></li>
                        <li><a href="#" data-theme-switcher="dark">Dark</a></li>
                    </ul>
                </details>
            </li>
        </ul>
    </nav>
</header>